extends layout
block content

  script.
    //Initialse the count boolean array to be set to true
    var totalAttributes;
    var attributeSelection = [totalAttributes];
    for (var count = 0; count < totalAttributes; count ++){
      attributeSelection[count] = false;
    }

    var generateRequest = function(i){
      //console.log('testFunc')
      attributeSelection[i] = true;
      console.log('set' + i + ' true');
    }
  //- 
  //- button(onclick ='generateRequest(0)') Click
  //- button(onclick ='generateRequest(1)') Click
  //- button(onclick ='generateRequest(2)') Click
  //- button(onclick ='generateRequest(3)') Click

  .container.main
    .inner-container
      include filter-menu
      form(method = 'get', action= 'javascript: window.open("\exportobservations", "Download").alert("You can save this data by right-click > save")')
        button(type='submit') Export to CSV
      mixin row(image, observation, description, time, location)
        tr.kakaRows(name='row')
          td.checkbox-cell
            input(type='checkbox')
          td.image-cell
            a.image-link
              img(src=image)
          td.ob-cell
            span= observation
          td.d-cell
            span= description
          td.time-cell
            span= time
          td.loc-cell
            span= location
            
      table.kaka-data-table
        tr
          th
          th Image
          th Observation
          th description
          th Time Taken
          th Location
          
        for dt in data
          +row(dt.image_url, dt.observation_type, dt.description, dt.created_at, dt.longitude)

  //-This function will be called when checking each box to change
  //-The corresponding variable

  //- - var something = function() {
  //- -   console.log('something');
  //- - }

  //- .datapage_format
  //-   h1= title
  //-
  //-

    //- p This is the page to export data
    //- p Please choose which attributes you want to export
    //- input(type = 'checkbox' checked = true onclick = 'tempClick')
