extends layout
block content
  .container.main
    .inner-container
      include filter-menu
      
      mixin image(src, type, location, time, description)
        .image-container
          .image-inner-container
            img(src=src)
          .image-content
            h4.type=type
            h5
              span.location=location
              span , 
              span.time=time
            p.description=description
      
      #gallery
        +image('/images/kaka-bird.jpg', 'Sighting', 'Wellington', '10pm', 'Saw this one eating')
        +image('/images/kaka-bird.jpg', 'Sighting', 'Wellington', '10pm', 'Saw this one eating')
        
  //- h1= title
  //- .shell
  //-   .gallery
  //-     .gallery-t
  //-       .gallery-head
  //-         .category
  //-           a(href='#') Category
  //-           .dd-holder
  //-             .dd-t
  //-             .dd
  //-               .dd-inner
  //-                 ul
  //-                   li
  //-                     a(href='#') Category 1
  //-                   li
  //-                     a(href='#') Category 2
  //-                   li
  //-                     a(href='#') Category 3
  //-                   li
  //-                     a(href='#') Category 4
  //-                   li
  //-                     a(href='#') Category 5
  //-               .cl  
  //-             .dd-b
  //-         .search
  //-           form(action='#', method='post')
  //-             .field
  //-               input.blink(type='text', value='Search')
  //-             input.search-btn.notext(type='submit')
  //-         .sort-by
  //-           p Sort by:
  //-           .custom-checkboxes
  //-             form(action='#', method='post')
  //-               input#name.custom-checkbox(type='radio', name='sort-options')
  //-               label(for='name') Name
  //-               input#date.custom-checkbox(type='radio', name='sort-options')
  //-               label(for='date') Date
  //-               input#size.custom-checkbox(type='radio', name='sort-options')
  //-               label(for='size') Size
  //-             .cl  
  //-           .cl  
  //-         .cl  
  //-       .gallery-holder
  //-         .gallery-content
  //-           ul
  //-             li
  //-               a(href='#')
  //-                 img(src='/images/kakago-logo.png', alt='')
  //-               .image-hover
  //-                 h5 Lorem ipsum sit amet dolor.
  //-                 h6 Category Name
  //-                 a.preview(href='#') Preview image
  //-             li
  //-               a(href='#')
  //-                 img(src='/images/kakago-logo.png', alt='')
  //-               .image-hover
  //-                 h5 Lorem ipsum sit amet dolor.
  //-                 h6 Category Name
  //-                 a.preview(href='#') Preview image
  //-             li
  //-               a(href='#')
  //-                 img(src='/images/kakago-logo.png', alt='')
  //-               .image-hover
  //-                 h5 Lorem ipsum sit amet dolor.
  //-                 h6 Category Name
  //-                 a.preview(href='#') Preview image
  //-             li
  //-               a(href='#')
  //-                 img(src='/images/kakago-logo.png', alt='')
  //-               .image-hover
  //-                 h5 Lorem ipsum sit amet dolor.
  //-                 h6 Category Name
  //-                 a.preview(href='#') Preview image
  //-             li
  //-               a(href='#')
  //-                 img(src='/images/kakago-logo.png', alt='')
  //-               .image-hover
  //-                 h5 Lorem ipsum sit amet dolor.
  //-                 h6 Category Name
  //-                 a.preview(href='#') Preview image
  //-             li
  //-               a(href='#')
  //-                 img(src='/images/kakago-logo.png', alt='')
  //-               .image-hover
  //-                 h5 Lorem ipsum sit amet dolor.
  //-                 h6 Category Name
  //-                 a.preview(href='#') Preview image
  //-             li
  //-               a(href='#')
  //-                 img(src='/images/kakago-logo.png', alt='')
  //-               .image-hover
  //-                 h5 Lorem ipsum sit amet dolor.
  //-                 h6 Category Name
  //-                 a.preview(href='#') Preview image
  //-             li
  //-               a(href='#')
  //-                 img(src='/images/kakago-logo.png', alt='')
  //-               .image-hover
  //-                 h5 Lorem ipsum sit amet dolor.
  //-                 h6 Category Name
  //-                 a.preview(href='#') Preview image
  //-             li
  //-               a(href='#')
  //-                 img(src='/images/kakago-logo.png', alt='')
  //-               .image-hover
  //-                 h5 Lorem ipsum sit amet dolor.
  //-                 h6 Category Name
  //-                 a.preview(href='#') Preview image
  //-             li
  //-               a(href='#')
  //-                 img(src='/images/kakago-logo.png', alt='')
  //-               .image-hover
  //-                 h5 Lorem ipsum sit amet dolor.
  //-                 h6 Category Name
  //-                 a.preview(href='#') Preview image
  //-             li
  //-               a(href='#')
  //-                 img(src='/images/kakago-logo.png', alt='')
  //-               .image-hover
  //-                 h5 Lorem ipsum sit amet dolor.
  //-                 h6 Category Name
  //-                 a.preview(href='#') Preview image
  //-             li
  //-               a(href='#')
  //-                 img(src='/images/kakago-logo.png', alt='')
  //-               .image-hover
  //-                 h5 Lorem ipsum sit amet dolor.
  //-                 h6 Category Name
  //-                 a.preview(href='#') Preview image
  //-             li
  //-               a(href='#')
  //-                 img(src='/images/kakago-logo.png', alt='')
  //-               .image-hover
  //-                 h5 Lorem ipsum sit amet dolor.
  //-                 h6 Category Name
  //-                 a.preview(href='#') Preview image
  //-             li
  //-               a(href='#')
  //-                 img(src='/images/kakago-logo.png', alt='')
  //-               .image-hover
  //-                 h5 Lorem ipsum sit amet dolor.
  //-                 h6 Category Name
  //-                 a.preview(href='#') Preview image
  //-             li
  //-               a(href='#')
  //-                 img(src='/images/kakago-logo.png', alt='')
  //-               .image-hover
  //-                 h5 Lorem ipsum sit amet dolor.
  //-                 h6 Category Name
  //-                 a.preview(href='#') Preview image
  //-             li
  //-               a(href='#')
  //-                 img(src='/images/kakago-logo.png', alt='')
  //-               .image-hover
  //-                 h5 Lorem ipsum sit amet dolor.
  //-                 h6 Category Name
  //-                 a.preview(href='#') Preview image
  //-             li
  //-               a(href='#')
  //-                 img(src='/images/kakago-logo.png', alt='')
  //-               .image-hover
  //-                 h5 Lorem ipsum sit amet dolor.
  //-                 h6 Category Name
  //-                 a.preview(href='#') Preview image
  //-             li
  //-               a(href='#')
  //-                 img(src='/images/kakago-logo.png', alt='')
  //-               .image-hover
  //-                 h5 Lorem ipsum sit amet dolor.
  //-                 h6 Category Name
  //-                 a.preview(href='#') Preview image
  //-             li
  //-               a(href='#')
  //-                 img(src='/images/kakago-logo.png', alt='')
  //-               .image-hover
  //-                 h5 Lorem ipsum sit amet dolor.
  //-                 h6 Category Name
  //-                 a.preview(href='#') Preview image
  //-             li
  //-               a(href='#')
  //-                 img(src='/images/kakago-logo.png', alt='')
  //-               .image-hover
  //-                 h5 Lorem ipsum sit amet dolor.
  //-                 h6 Category Name
  //-                 a.preview(href='#') Preview image
  //-             li
  //-               a(href='#')
  //-                 img(src='/images/kakago-logo.png', alt='')
  //-               .image-hover
  //-                 h5 Lorem ipsum sit amet dolor.
  //-                 h6 Category Name
  //-                 a.preview(href='#') Preview image
  //-             li
  //-               a(href='#')
  //-                 img(src='/images/kakago-logo.png', alt='')
  //-               .image-hover
  //-                 h5 Lorem ipsum sit amet dolor.
  //-                 h6 Category Name
  //-                 a.preview(href='#') Preview image
  //-             li
  //-               a(href='#')
  //-                 img(src='/images/kakago-logo.png', alt='')
  //-               .image-hover
  //-                 h5 Lorem ipsum sit amet dolor.
  //-                 h6 Category Name
  //-                 a.preview(href='#') Preview image
  //-             li
  //-               a(href='#')
  //-                 img(src='/images/kakago-logo.png', alt='')
  //-               .image-hover
  //-                 h5 Lorem ipsum sit amet dolor.
  //-                 h6 Category Name
  //-                 a.preview(href='#') Preview image
  //-             li
  //-               a(href='#')
  //-                 img(src='/images/kakago-logo.png', alt='')
  //-               .image-hover
  //-                 h5 Lorem ipsum sit amet dolor.
  //-                 h6 Category Name
  //-                 a.preview(href='#') Preview image
  //-             li
  //-               a(href='#')
  //-                 img(src='/images/kakago-logo.png', alt='')
  //-               .image-hover
  //-                 h5 Lorem ipsum sit amet dolor.
  //-                 h6 Category Name
  //-                 a.preview(href='#') Preview image
  //-             li
  //-               a(href='#')
  //-                 img(src='/images/kakago-logo.png', alt='')
  //-               .image-hover
  //-                 h5 Lorem ipsum sit amet dolor.
  //-                 h6 Category Name
  //-                 a.preview(href='#') Preview image
  //-     .gallery-b
