extends layout
block content
  .container.main
    .inner-container
      include filter-menu
      
      mixin image(src, type, location, time, description)
        .image-container
          .image-inner-container
            img(src=src)
          .image-content
            h4.type=type
            h5
              span.location=location
              span , 
              span.time=time
            p.description=description
      
      #gallery
        +image('/images/kaka-bird.jpg', 'Sighting', 'Wellington', '10pm', 'Saw this one eating')
        +image('/images/kaka-bird.jpg', 'Sighting', 'Wellington', '10pm', 'Saw this one eating')
        

