extends layout
block content
  .container.main
    .inner-container
      include filter-menu
      
      mixin image(src, type, location, time, description)
        .image-container
          .image-inner-container
            img(src=src)
          .image-content
            h4.type=type
            h5
              span.location=location
              span , 
              span.time=time
            p.description=description
      
      #gallery
        for dt in data
          +image(dt.image_url, dt.species, dt.longitude, dt.created_at, dt.description)
